body{
    background-color:rgb(216, 120, 9);
    color: rgb(253, 253, 253);
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 45%;
    top:45%;
}

.myImgClass{
    width: 150px;
}

#memeImage{
    width: 150px;
}

